<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuthmatedWorkplace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AuthmatedWorkplace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AuthmatedWorkplace.Properties.Settings>
            <setting name="UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeType" serializeAs="String">
                <value />
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkPrimaryColor" serializeAs="String">
                <value />
            </setting>
            <setting name="LightPrimaryColor" serializeAs="String">
                <value />
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value />
            </setting>
            <setting name="TextShadeColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Initial" serializeAs="String">
                <value>True</value>
            </setting>
        </AuthmatedWorkplace.Properties.Settings>
    </userSettings>
    <connectionStrings>
        <add name="AuthmatedWorkplace.Properties.Settings.ThemeType" connectionString="" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <AuthmatedWorkplace.Properties.Settings>
            <setting name="ThemeType" serializeAs="String">
                <value />
            </setting>
        </AuthmatedWorkplace.Properties.Settings>
    </applicationSettings>
</configuration>