.vs/
AutomatedWorkplace/.vs/
/AuthmatedWorkplace/AuthmatedWorkplace/AuthmatedWorkplace.csproj.user
/AuthmatedWorkplace/AuthmatedWorkplace/obj
/AuthmatedWorkplace/AuthmatedWorkplace/bin/Debug/net7.0-windows
/AuthmatedWorkplace/AuthmatedWorkplace/Properties/DataSources
/AuthmatedWorkplace/AuthmatedWorkplace/bin/Release/net7.0-windows
